  /*
  * DEFAULT 
  */
  h2 {
    color: #00695c;
  }

 .flex-content {
  list-style: none;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px;
  text-align: center;
  padding: 0;
  margin-left: 0;
}


.lateral{
  padding-left: 10px;
  padding-right: 10px;
}
ul li:before {
  content: attr(data-label);
  padding-right: 0em;
  text-align: center;
  display: block;
  margin-left: 2px;
  padding: 0;
  color: #004f48;
  padding-top: 3%;
  
 
}
.titulo{
  text-align: center;
  list-style: none;
  font-size: 21px;
  font-weight: bold;
  padding: 12px 0 20px;
}

.flex-item {
  height: 60px;
  font-weight: bold;
  text-align: center;
  margin-left: 2px; 
  display: inline-block;
  font-size: 14px;
  margin-bottom: 3px;
  width: 25%;
  padding: 0 10px 0;

}



@media screen and (min-width: 1490px) {
  .elevation-1 {
    margin-top: 3%;
    border: solid;
    margin-left: 2%;
    margin-right: 2%;
    border-width: 1px;
    border-color: #004f48;
  }
}

@media screen and (max-width: 1489px){
  .flex-item{
    width: 19%;
  }

}

@media screen and (max-width: 700px) {
  
  .flex-item {
    width: 48%;
  }

}

@media screen and (max-width: 314px) {
  .flex-item{
    width: 100%;
  }

}
  
 
 


