body {
  padding: 50px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;  
}

a {
  color: #00B7FF;
}

h1{
  display: inline-block;
  box-shadow:10x 0px 0px  rgb(59, 30, 2);
  text-decoration-line: overline;

}
